{
 :sessions {}
 :users {
  "OzQOOvni3" {:id "OzQOOvni3", :name "chen", :nickname "chen", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil}
 }
 :templates {
  "YkwL7Dfny" {
   :id "YkwL7Dfny", :name "container", :mock-pointer "base", :width "800", :height 400, :sort-key "T"
   :mocks {
    "base" {
     :id "base", :name "base"
     :data {:code "[\"console\", \"  100\", \"}\"]", :snippet "console.log(\n    100\n)"}
    }
   }
   :markup {
    :type :box, :layout :column
    :props {}
    :attrs {}
    :presets #{:fullscreen}
    :style {}
    :children {
     "T" {
      :type :box, :layout :row-parted
      :props {}
      :attrs {}
      :presets #{}
      :style {"padding" "8px"}
      :children {
       "T" {
        :type :box, :layout nil
        :props {}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
       "j" {
        :type :button, :layout nil
        :props {"text" "\"Copy"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
        :event {"click" ":copy"}
       }
      }
     }
     "j" {
      :type :box, :layout :row
      :props {}
      :attrs {}
      :presets #{:expand}
      :style {}
      :children {
       "T" {
        :type :input, :layout nil
        :props {"textarea" "true", "value" "@:snippet"}
        :attrs {"placeholder" "\"Snippet..."}
        :presets #{:expand :font-code}
        :style {"whitespace" ":pre"}
        :children {}
        :event {"input" ":input"}
       }
       "j" {
        :type :input, :layout nil
        :props {"textarea" "true", "value" "@:code"}
        :attrs {"placeholder" "\"Array...", "disabled" "true"}
        :presets #{:expand :font-code}
        :style {"whitespace" "pre"}
        :children {}
       }
      }
     }
    }
   }
  }
 }
 :settings {
  :colors {}
 }
}